@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

body {
    margin: 0;
    font-family: 'Courier Prime', monospace;
}

.container {
    padding: 0.8em;
}

.wrapper {
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 100px;
    gap: 0.8em;
    /* column-gap: 1em; */
    /* row-gap: 1em; */
}

.wrapper > div {
    background: rgb(241, 207, 207) ;
    padding: 1em;
}

.wrapper > div:hover {
    border: 1px solid lightcoral;
}

/************************* br ************************/

.second-wrapper {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto);
    gap: 0.8em;
}

.second-wrapper > div {
    background: rgb(169, 208, 240) ;
    padding: 1em;
}

.second-wrapper > div:hover {
    border: 1px solid lightcoral;
}

.nested-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 80px;
    gap: 0.6rem;
}

.nested-grid > div {
    border: 2px solid rgb(110, 110, 110);
    background: lightsalmon;
    padding: 0.8em;
}

/************************* br ************************/

.third-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 0.8em;

    /* justify-items: start; */
    /* justify-items: end; */
    /* justify-items: stretch; */
    justify-items: center;
    align-items: center;
}

.third-wrapper > div {
    background: rgb(171, 245, 206) ;
    padding: 1em;
}

.third-wrapper > div:hover {
    border: 1px solid lightcoral;
}

.element1 {
    align-self: start;
    justify-self: start;
}

.element2 {
    align-self: end;
    justify-self: end;
}

.element3 {
    align-self: end;
    justify-self: start;
}

.element4 {
    align-self: end;
    justify-self: start;
}

.element5 {
    align-self: start;
    justify-self: end;
}

.element6 {
    align-self: start;
    justify-self: start;
}

/************************* br ************************/

.fourth-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 0.8em;
    justify-items: stretch;
}

.fourth-wrapper > div {
    background: rgb(255, 200, 164) ;
    padding: 1em;
}

.fourth-wrapper > div:hover {
    border: 1px solid lightcoral;
}

.elem1 {
    grid-column: 1/4;
    grid-row: 1/3;
}

.elem2 {
    grid-column: 1/3;
}

.elem3 {
    grid-column: 3/4;
}

.elem4 {
    grid-column: 1/1;
}

.elem5 {
    grid-column: 2/2;
}

.elem6 {
    grid-column: 3/3;
}